<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top__content">
                <div class="footer-top__left">
                    <div class="footer-top__logos">
                        <a href="./" class="footer-top__logo">
                            <img loading="lazy" src="img/icons/logo2.svg" alt="" class="desc">
                            <img loading="lazy" src="img/icons/logo2-mob.svg" alt="" class="mob">
                        </a>
                        <p>
                            Контейнерный терминал ЖД станции
                            «Кунцево 2» Москва
                        </p>
                    </div>
                    <div class="footer-top__contacts contacts-mob">
                        <a href="./" class="btn btn-white">Оставить заявку</a>
                        <div class="socials">
                            <a href="./">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#max"></use>
                                </svg>
                            </a>
                            <a href="./">
                                <svg aria-hidden="true" width="20" height="17">
                                    <use xlink:href="img/sprite.svg#tg"></use>
                                </svg>
                            </a>
                            <a href="./">
                                <svg aria-hidden="true" width="20" height="20">
                                    <use xlink:href="img/sprite.svg#whatsapp"></use>
                                </svg>
                            </a>
                            <a href="./">
                                <svg aria-hidden="true" width="24" height="19">
                                    <use xlink:href="img/sprite.svg#chat"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer-top__menu">
                    <ul>
                        <li>
                            <a href="./" data-goto=".block-services" data-goto-header>Услуги</a>
                        </li>
                        <li>
                            <a href="./" data-goto=".block-customs-post" data-goto-header>Таможенный пост</a>
                        </li>
                        <li>
                            <a href="./" data-goto=".block-order" data-goto-header>Цены</a>
                        </li>
                        <li>
                            <a href="./" data-goto=".block-about" data-goto-header>О нас</a>
                        </li>
                        <li>
                            <a href="./" data-goto=".block-main-contacts" data-goto-header>Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="contacts">
                    <div class="contacts__column">
                        <div class="contacts__icon">
                            <svg aria-hidden="true" width="14" height="16">
                                <use xlink:href="img/sprite.svg#map1"></use>
                            </svg>
                        </div>
                        <div class="contacts__item">
                            <div class="contacts__title">
                                Москва
                            </div>
                            <p>
                                Молодогвардейская улица, 65с3
                            </p>
                        </div>
                    </div>
                    <a href="tel:74996238171" class="contacts__column">
                        <div class="contacts__icon">
                            <svg aria-hidden="true" width="16" height="16">
                                <use xlink:href="img/sprite.svg#phone1"></use>
                            </svg>
                        </div>
                        <div class="contacts__item">
                            <div class="contacts__title">
                                +7 (499) 623-81-71
                            </div>
                        </div>
                    </a>
                    <a href="mailto:zakaz@tlc-kuntsevo2.ru" class="contacts__column">
                        <div class="contacts__icon">
                            <svg aria-hidden="true" width="16" height="13">
                                <use xlink:href="img/sprite.svg#mail1"></use>
                            </svg>
                        </div>
                        <div class="contacts__item">
                            <div class="contacts__title">
                                zakaz@tlc-kuntsevo2.ru
                            </div>
                        </div>
                    </a>
                    <div class="contacts__column">
                        <div class="contacts__icon">
                            <svg aria-hidden="true" width="15" height="16">
                                <use xlink:href="img/sprite.svg#calendar"></use>
                            </svg>
                        </div>
                        <div class="contacts__item">
                            <p>
                                Работаем круглосуточно и
                                без выходных
                            </p>
                        </div>
                    </div>
                </div>
                <div class="footer-top__contacts contacts-desc">
                    <a href="./" data-popup="#submit-request" class="btn btn-white">Оставить заявку</a>
                    <div class="socials">
                        <a href="./">
                            <svg aria-hidden="true" width="20" height="20">
                                <use xlink:href="img/sprite.svg#max"></use>
                            </svg>
                        </a>
                        <a href="./">
                            <svg aria-hidden="true" width="20" height="17">
                                <use xlink:href="img/sprite.svg#tg"></use>
                            </svg>
                        </a>
                        <a href="./">
                            <svg aria-hidden="true" width="20" height="20">
                                <use xlink:href="img/sprite.svg#whatsapp"></use>
                            </svg>
                        </a>
                        <a href="./">
                            <svg aria-hidden="true" width="24" height="19">
                                <use xlink:href="img/sprite.svg#chat"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom__content">
                <div class="footer-bottom__text">
                    @ ТЛЦ Кунцево, 2026
                </div>
                <a href="./" class="footer-bottom__text">
                    Политика конфиденциальности
                </a>
            </div>
        </div>
    </div>
</footer>