.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 992px) {
        gap: 15px;
    }
    .btn {
        width: 100%;
    }
    // .form__inputs

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (max-width: 992px) {
            gap: 15px;
        }
    }

    // .form__input

    &__input {
        position: relative;
        &._form-focus,
        &.filled {
            .form__placeholder {
                opacity: 0;
            }
        }
        .input {
            background: var(--fon-1);
            height: 50px;
            width: 100%;
            padding: 0px 15px;
            font-weight: 400;
            font-size: 16px;
            border: 1px solid var(--obvodka);
            border-radius: 5px;
            transition: border 0.3s;
            @media (max-width: 992px) {
                height: 40px;
                font-size: 14px;
                padding: 0px 10px;
            }
            @media (max-width: 767px) {
                height: 35px;
            }
            &::placeholder {
                opacity: 0;
                pointer-events: none;
                color: var(--chernyy-1);
            }
            &._form-focus {
                border: 1px solid var(--obvodka-2);
            }
            &._form-error {
                border: 1px solid var(--kransnyy);
            }
        }
    }

    // .form__placeholder

    &__placeholder {
        transition: opacity 0.3s;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translate(0px, -50%);
        left: 15px;
        width: calc(100% - 30px);
        font-weight: 400;
        font-size: 16px;
        color: var(--chernyy-1);
        @media (max-width: 992px) {
            font-size: 14px;
            left: 10px;
        }
        span {
            color: var(--chernyy-2);
            &.red {
                color: var(--kransnyy);
            }
        }
    }
}

.checkbox {
    position: relative;
    @media (max-width: 992px) {
        margin-top: 5px;
    }
    // .checkbox__input

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked + .checkbox__label .checkbox__icon svg {
            opacity: 1;
        }
        &._form-error + .checkbox__label .checkbox__icon {
            border: 1px solid red;
        }
    }

    // .checkbox__label

    &__label {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    // .checkbox__icon

    &__icon {
        border-radius: 5px;
        background-color: var(--fon-1);
        border: 1px solid var(--obvodka);
        width: 20px;
        height: 20px;
        flex: 0 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition:
            background-color 0.3s,
            border 0.3s;
        svg {
            stroke: var(--chernyy-2);
            color: var(--chernyy-2);
            fill: none;
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    // .checkbox__text

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: var(--chernyy-1);
        @media (max-width: 992px) {
            font-size: 12px;
        }
        a {
            transition: color 0.3s;
            @media (any-hover: hover) {
                &:hover {
                    color: var(--belyy);
                }
            }
        }
    }
}
