:root {
  --container-width: 1358px;
  --container-padding: 68px;
  --belyy: #fff;
  --fon-1: #f8f9fa;
  --fon-2: #f4f5f6;
  --fon-3: #eaebec;
  --obvodka: #e4e5e6;
  --obvodka-2: #d0d1d2;
  --neaktivnaya-ikonka: #bcbdbe;
  --chernyy-1: #8a8b8c;
  --chernyy-2: #1c1d1e;
  --siniy: #2b298e;
  --kransnyy: #b32821;
  --fon-siniy: #f4f4f9;

  --font-family: "Montserrat", sans-serif;
}
